.header {
    position: relative;
    width: 750px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    line-height: 80px;

    .h_back {
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 20px;
        height: 38px;
    }

    .h_title {
        line-height: 80px;
        font-size: 32px;
        color: #434343;
    }
}
