*, :after, :before {
    box-sizing: border-box;
    cursor: pointer;//解决onclick不能正常执行的问题
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
//vw在safari下兼容处理
img {
  content: normal !important;
}
